<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <title>Sistema de Gestión de Mantenimiento</title>
        <link rel="stylesheet" href="/static/estilos.css">
    </head>
    <body>
        <header><h1>SGM — Inicio</h1></header>
        <nav>
            <a href="/clientes">Clientes</a>
            <a href="/equipos">Equipos</a>
            <a href="/tecnicos">Técnicos</a>
            <a href="/ordenes">Órdenes</a>
        </nav>
        <main>
            <h2>Bienvenido</h2>
            <p>Este es el prototipo de un sistema de gestión de mantenimiento hecho en <b>Python 3.13 + MySQL</b>.</p>
        </main>
    </body>
</html>
