<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <title>Sistema de Gestión de Mantenimiento</title>
        <link rel="stylesheet" href="/static/estilos.css">
    </head>
    <body>
        <header><h1>SGM — Inicio</h1></header>
        <nav>
            <a href="/clientes">Clientes</a>
            <a href="/equipos">Equipos</a>
            <a href="/tecnicos">Técnicos</a>
            <a href="/ordenes">Órdenes</a>
        </nav>
        <main>
            <h2>Bienvenido</h2>
            <p>Al Sistema de Gestión de Mantenimiento, nosotros resolveremos tus necesidades en tu taller.</p>
            <p>Optimizando todas tus tareas para el servicio que realizaras. Llevando un registro de todos</p>
            <p>tus tickets e teniendo un control de ellos. </p>
        </main>
    </body>
</html>
